body {
    background-color: black;
    color: white;
}

.Heading {
    max-width: 200px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: large;
    color: #2966B5;
    text-align: center;
    margin: 0 auto;
    margin-top: 50px;
    border: 2px;
    outline: none;
    position: relative;
}

.Heading::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 2px;
    background-color: white;
    transform: scaleX(0);
    transition: transform 300ms ease-in-out;
}

.Heading:hover::before {
    transform: scaleX(1);
}

.AddNewTask {
    margin: 0 auto;
    margin-top: 30px;
    text-align: center;
}

#new_task {
    background-color: white;
    padding: 10px;
    font-size:medium;
    border-radius: 10px;
    border: none;
    outline: none;
}

#add_task {
    position: relative;
    background-color: white;
    padding: 10px;
    font-size:medium;
    font-weight: 500;
    border: none;
    outline: none;
    border-radius: 10px;
    z-index: 1;
}

#add_task:hover{
    color: white;
    position: relative;
    background-color: white;
    padding: 10px;
    font-size: medium;
    font-weight: 500;
    border: none;
    outline: none;
    border-radius: 10px;
    z-index: 1;
    cursor: pointer;
}

#add_task::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -1;
    border-radius: 10px;
    background-color: #2966B5;
    transition: transform 300ms ease-in-out;
    transform: scaleX(0);
}

#add_task:hover::before{
    transform: scaleX(1);
}
.Tasks {
    max-width: fit-content;
    /*margin: 30px 0 auto;*/
    margin: 0 auto;
    margin-top: 30px;
}

li {
    display: flex;
    border: 2px solid white;
    align-items: center;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
    justify-content: space-between;
}

.Priority {
    max-width: 20px;
    background-color: white;
    margin-left: 4px;
    padding: 20px;
    text-align: center;
    font-size:medium;
    font-weight: 500;
    border-radius: 30px;
    border: none;
    outline: none;
}

.TaskText {
    /* max-width: 300px; */
    font-size: large;
    font-weight: 500;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 20px;
    margin-right: 20px;
    color: orange;
}

.Delete {
    position: relative;
    margin-right: 3px;
    padding: 20px;
    outline: none;
    border-radius: 15px;
    border: none white;
    transition: color 300ms ease-in-out;
    font-size: medium;
    font-weight: 600;
    z-index: 1;
}

.Delete:hover {
    position: relative;
    margin-right: 3px;
    padding: 20px;
    outline: none;
    border-radius: 15px;
    border: none white;
    color: white;
    z-index: 1;
}

.Delete::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: orange;
    border-radius: 15px;
    z-index: -1;
    transform: scaleX(0);
    transition: transform 300ms ease-in-out;
}

.Delete:hover::before {
    transform: scaleX(1);
}
